<div class="min-h-screen bg-top-image flex flex-col items-center justify-center relative">
  <!-- オーバーレイ -->
  <div class="absolute inset-0 bg-white opacity-50 z-0"></div>

  <!-- コンテンツ -->
  <div class="relative z-10 text-center">
    <p class="mt-4 mb-4 text-xl text-gray-900 font-serif leading-relaxed">
      「DrinkCollection」はお酒好きや興味のある方にぴったりのWebアプリ！<br>
      お気に入りのお酒を投稿したり、他のユーザーのおすすめをチェックできます。<br>
      豊富な飲み物データベースでお酒好きの方はもちろん、お酒が飲めない方や<br>
      雰囲気を楽しみたい方にも、新しいお酒との出会いを提供します。
    </p>
  </div>

  <!-- 広告エリア -->
  <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 z-20 opacity-80">
    <a rel="nofollow" href="https://cl.link-ag.net/click/d11bbf/74049eb4" class="relative inline-block">
      <!-- PR バッジ -->
      <span class="absolute top-0 left-0 bg-white text-black text-xs font-normal rounded-bl">
        PRを含みます
      </span>
      <img 
        alt="★友達紹介用★超実践型オンラインプログラミングスクール【RUNTEQ（ランテック）】" 
        src="https://imps.link-ag.net/imp/d11bbf/74049eb4" 
        class="max-w-xs h-auto item-center"
      />
    </a>
  </div>
</div>
