<div class="min-h-screen bg-top-image flex flex-col items-center justify-center relative">
  <!-- オーバーレイ -->
  <div class="absolute inset-0 bg-white opacity-50 z-0"></div>

  <!-- コンテンツ -->
  <div class="relative z-10 text-center">
    <h1 class="text-4xl font-bold text-orange-950">DrinkCollection</h1>
    <p class="mt-4 mb-4 text-lg text-gray-700"></p>
  </div>
</div>
