<div class="min-h-screen bg-top-image flex flex-col items-center justify-center relative">
  <!-- オーバーレイ -->
  <div class="absolute inset-0 bg-white opacity-50 z-0"></div>

  <!-- コンテンツ -->
  <div class="relative z-10 text-center">
    <p class="mt-4 mb-4 text-xl text-gray-900 font-serif leading-relaxed">
      「DrinkCollection」はお酒好きや興味のある方にぴったりのWebアプリ！<br>
      お気に入りのお酒を投稿したり、他のユーザーのおすすめをチェックできます。<br>
      豊富な飲み物データベースでお酒好きの方はもちろん、お酒が飲めない方や<br>
      雰囲気を楽しみたい方にも、新しいお酒との出会いを提供します。
    </p>
  </div>
</div>
