<!-- フラッシュメッセージ -->
<% flash.each do |message_type, message| %>
  <div class="p-4 mb-4 text-sm text-white
    <%= message_type == 'success' ? 'bg-green-500' : 'bg-red-500' %>">
    <%= message %>
  </div>
<% end %>
