<footer class="bottom-0 left-0 w-full bg-amber-300 text-black py-6 z-20">
  <div class="container mx-auto">
    <div class="flex justify-center">
      <div class="text-center">
        <div class="flex space-x-8">
          <%= link_to "プライバシーポリシー", privacy_policy_path, class: "hover:text-gray" %>
          <%= link_to "利用規約", terms_of_service_path, class: "hover:text-gray" %>
          <%= link_to "お問い合わせフォーム", "https://docs.google.com/forms/d/e/1FAIpQLScXiicxf00SoabnSg_vEb7bptlGdfDS042CqiuBzKh03PRSfQ/viewform?usp=header", class: "hover:text-gray" %>
          <%= link_to "管理者専用ページ", new_admin_drink_path, class: "hover:text-gray" %>
        </div>
        <div class="mt-4">
          <p class="text-xs text-black">Copyright © 2025. DrinkCollection - All right reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
